# Python-related
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*~

# Operating system files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite

# Argo Workflows
*.yaml.bak

# Project-specific
# Add any project-specific files or directories you want to ignore

# Temporary files
*.tmp
*.bak
*.swp
